<article fxLayout="column" class="album-container">
  <section nxContainer fxLayout="row" fxLayoutGap="2rem" class="album-info" fxLayoutAlign="start start">
    <section>
      <section class="poster mat-elevation-z4"></section>
    </section>
    <section fxFlex>
      <h1 class="mat-display-1 title">Guns N' Roses - Sweet Child O' Mine</h1>
      <mat-chip-list>
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
          <mat-chip>Primary fish</mat-chip>
          <mat-chip>Accent fish</mat-chip>
        </mat-chip-list>
        <button mat-fab class="play">
          <mat-icon>play_arrow</mat-icon>
        </button>
    </section>
  </section>
</article>