<article class="app-container" fxLayout="column">
    <mat-toolbar fxLayoutAlign="start center" fxLayoutGap="1rem">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1>App Title</h1>
        <span fxFlex></span>
        <img src="https://avatars0.githubusercontent.com/u/16052650?s=400&u=2fd8bf74ae64c41b7afbc74b49af2d7d8b4247d1&v=4"
            style="border-radius:50%; width: 30px;" />
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-sidenav-container fxFlex>
        <mat-sidenav mode="side" opened class="sidenav-left">
            <mat-nav-list dense>
                <h2 matSubheader>Browse Music</h2>
                <a mat-list-item routerLink="/">
                    <mat-icon matListIcon>wb_sunny</mat-icon>
                    <span matLine>Discover</span>
                </a>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>headset</mat-icon>
                    <span matLine>Songs</span>
                </a>
                <a mat-list-item routerLink="/album">
                    <mat-icon matListIcon>albums</mat-icon>
                    <span matLine>Albums</span>
                </a>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>videocam</mat-icon>
                    <span matLine>Videos</span>
                </a>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>radio</mat-icon>
                    <span matLine>Radio</span>
                </a>
                <mat-divider></mat-divider>
                <h2 matSubheader>Your Music</h2>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>reorder</mat-icon>
                    <span matLine>Playlist</span>
                </a>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>favorite</mat-icon>
                    <span matLine>Favorite</span>
                </a>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>history</mat-icon>
                    <span matLine>History</span>
                </a>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>get_app</mat-icon>
                    <span matLine>Downloads</span>
                </a>
                <a mat-list-item href="#">
                    <mat-icon matListIcon>file_copy</mat-icon>
                    <span matLine>Local Files</span>
                </a>
            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav mode="side" class="sidenav-right" position="end" opened></mat-sidenav>
        <mat-sidenav-content data-simplebar>
          <router-outlet></router-outlet>
            <!-- <h1 class="mat-display-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">poipoipoipoi</h1> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-divider></mat-divider>
    <nx-player></nx-player>
</article>