@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);